<%= form_for(@presence) do |f| %>
  <% if @presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

      <ul>
      <% @presence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :picture_id %><br>
    <%= f.text_field :picture_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
