<h1>Listing pictures</h1>

<table>
  <thead>
    <tr>
      <th>Album</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td class= "thumbnail"><%= image_tag picture.photo %></td>
        <td><%= link_to 'Show', album_picture_path(@album,picture) %></td>
        <td><%= link_to 'Edit', edit_album_picture_path(@album,picture) %></td>
        <td><%= link_to 'Destroy', album_picture_path(@album,picture), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_album_picture_path %>
