<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @picture.album %>
</p>

<%= image_tag @picture.photo.url %>

<%= link_to 'Edit', edit_album_picture_path %> |
<%= link_to 'Back', album_pictures_path %>
